@import url('https://fonts.googleapis.com/css2?family=Slabo+13px&family=Ultra&display=swap');

:root {
    --title-font: 'Ultra', serif;
    --text-font: 'Slabo 13px', serif;
    font-size: 16px;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--text-font);
}
body {
    background: linear-gradient(129deg, #ffffeb, #b8a088);
    background-size: 400% 400%;
    -webkit-animation: bodyBg 21s ease infinite;
    -moz-animation: bodyBg 21s ease infinite;
    animation: bodyBg 21s ease infinite;
}
@-webkit-keyframes bodyBg {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes bodyBg {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes bodyBg {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0 10px;
}
header {
    margin: 20px 0 45px 0;
}
header img {
    width: 100px;
    height: 54px;
}
.title {
    font-family: var(--title-font);
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-bottom: 12px;
}
.text {
    width: 100%;
    font-family: var(--text-font);
    font-size: 1rem;
}
#clock {
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    margin-bottom: 20px;
}
#clock span {
    font-family: var(--title-font);
    font-size: 4rem;
}
#clock p {
    font-size: 1.25rem;
}
.btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    background: transparent;
    font-size: 1.25rem;
    cursor: pointer;
    margin-bottom: 20px;
}
.btn:hover span {
    transition: all .1s ease-in-out .1s;
    margin-left: 15px;
}
footer {
    position: fixed;
    bottom: 50px;
}
.social {
    display: flex;
    gap: 20px;
}

@media (min-width: 425px) {
    .title {
        font-size: 3rem;
        margin-bottom: 30px;
    }
    .text {
        font-size: 1.25rem;
        margin-bottom: 30px;
    }
    #clock {
        margin-bottom: 30px;
    }
}
@media (min-width: 1200px) {
    .title {
        font-size: 4rem;
    }
}